<!-- Inspired by https://github.com/othneildrew/Best-README-Template/blob/master/BLANK_README.md -->

<a name="readme-top"></a>


<!-- Shields header start -->
[![Contributors][contributors-shield]][contributors-url]
[contributors-shield]: https://img.shields.io/github/contributors/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[contributors-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/graphs/contributors

[![Forks][forks-shield]][forks-url]
[forks-shield]: https://img.shields.io/github/forks/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[forks-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/network/members

[![Stargazers][stars-shield]][stars-url]
[stars-shield]: https://img.shields.io/github/stars/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[stars-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/stargazers

[![Issues][issues-shield]][issues-url]
[issues-shield]: https://img.shields.io/github/issues/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[issues-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/issues

[![MIT License][license-shield]][license-url]
[license-shield]: https://img.shields.io/github/license/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[license-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/blob/{{repository_branch}}/LICENSE.txt

[![LinkedIn][linkedin-shield]][linkedin-url]
[linkedin-shield]: https://img.shields.io/badge/-LinkedIn-black.svg?style=for-the-badge&logo=linkedin&colorB=555
[linkedin-url]: {{author_linkedin_url}}

[![PyPI - Python Version][pypi-python-shield]][{{pypi_url}}]
[pypi-python-shield]: https://img.shields.io/pypi/pyversions/{{package_name}}?style=for-the-badge&logo=python

[![PyPi - Package Version][pypi-version-shield]][{{pypi_url}}]
[pypi-version-shield]: https://img.shields.io/pypi/v/{{package_name}}?style=for-the-badge&logo=python

[![PyPi - License][pypi-license-shield]][license-url] <!-- URL DEFINED ABOVE -->
[pypi-license-shield]: https://img.shields.io/pypi/l/{{package_name}}?style=for-the-badge&logo=python
<!-- Shields header end -->
