<!-- Inspired by https://github.com/othneildrew/Best-README-Template/blob/master/BLANK_README.md -->

<a name="readme-top"></a>


<!-- SHIELDS HEADER -->
<div align="center">
[![Contributors][contributors-shield]][contributors-url]
[contributors-shield]: https://img.shields.io/github/contributors/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[contributors-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/graphs/contributors

[![Forks][forks-shield]][forks-url]
[forks-shield]: https://img.shields.io/github/forks/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[forks-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/network/members

[![Stargazers][stars-shield]][stars-url]
[stars-shield]: https://img.shields.io/github/stars/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[stars-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/stargazers

[![Issues][issues-shield]][issues-url]
[issues-shield]: https://img.shields.io/github/issues/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[issues-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/issues

[![MIT License][license-shield]][license-url]
[license-shield]: https://img.shields.io/github/license/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge&logo=github
[license-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/blob/{{repository_branch}}/LICENSE.txt

[![LinkedIn][linkedin-shield]][linkedin-url]
[linkedin-shield]: https://img.shields.io/badge/-LinkedIn-black.svg?style=for-the-badge&logo=linkedin&colorB=555
[linkedin-url]: {{author_linkedin_url}}

[![PyPI - Python Version][pypi-python-shield]][{{pypi_url}}]
[pypi-python-shield]: https://img.shields.io/pypi/pyversions/{{package_name}}?style=for-the-badge&logo=python

[![PyPi - Package Version][pypi-version-shield]][{{pypi_url}}]
[pypi-version-shield]: https://img.shields.io/pypi/v/{{package_name}}?style=for-the-badge&logo=python

[![PyPi - License][pypi-license-shield]][license-url] <!-- URL DEFINED ABOVE -->
[pypi-license-shield]: https://img.shields.io/pypi/l/{{package_name}}?style=for-the-badge&logo=python
</div>


<!-- PROJECT SUMMARY AND LOGO -->
<br />
<div align="center">
  <a href="{{repository_url}}">
    <img src="{{repository_url}}/blob/{{repository_branch}}/assets/logo.png?raw=true" alt="Logo" width="40" height="40">
  </a>

<h3 align="center">{{project_name}}</h3>

  <p align="center">
    {{project_description}}
    <br />
    <a href="{{repository_url}}"><strong>Explore the docs »</strong></a>
    <br />
    <br />
    <!--
    <a href="{{repository_url}}">View Demo</a>
    ·
    -->
    <a href="{{repository_url}}/issues">Report Bug</a>
    ·
    <a href="{{repository_url}}/issues">Request Feature</a>
  </p>
</div>

<!-- TABLE OF CONTENTS -->
<details>
  <summary>Table of Contents</summary>
  <ol>
    <li>
      <a href="#about-the-project">About The Project</a>
      <!-- <ul>
        <li><a href="#built-with">Built With</a></li>
      </ul> -->
    </li>
    <li>
      <a href="#getting-started">Getting Started</a>
      <ul>
        <li><a href="#prerequisites">Prerequisites</a></li>
        <li><a href="#installation">Installation</a></li>
      </ul>
    </li>
    <li><a href="#usage">Usage</a></li>
    <li><a href="#roadmap">Roadmap</a></li>
    <li><a href="#contributing">Contributing</a></li>
    <li><a href="#license">License</a></li>
    <li><a href="#contact">Contact</a></li>
    <!-- <li><a href="#acknowledgments">Acknowledgments</a></li> -->
  </ol>
</details>

<p align="right">(<a href="#readme-top">back to top</a>)</p>