[![Contributors][contributors-shield]][contributors-url]
[contributors-shield]: https://img.shields.io/github/contributors/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge
[contributors-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/graphs/contributors

[![Forks][forks-shield]][forks-url]
[forks-shield]: https://img.shields.io/github/forks/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge
[forks-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/network/members

[![Stargazers][stars-shield]][stars-url]
[stars-shield]: https://img.shields.io/github/stars/{{repository_namesepace}}/{{repository_package}}e.svg?style=for-the-badge
[stars-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/stargazers

[![Issues][issues-shield]][issues-url]
[issues-shield]: https://img.shields.io/github/issues/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge
[issues-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/issues

<!-- set to correct main/master/trunk branch  -->
[![MIT License][license-shield]][license-url]
[license-shield]: https://img.shields.io/github/license/{{repository_namesepace}}/{{repository_package}}.svg?style=for-the-badge
[license-url]: https://github.com/{{repository_namesepace}}/{{repository_package}}/blob/{{repository_branch}}/LICENSE.txt

[![LinkedIn][linkedin-shield]][linkedin-url]
[linkedin-shield]: https://img.shields.io/badge/-LinkedIn-black.svg?style=for-the-badge&logo=linkedin&colorB=555
[linkedin-url]: {{author_linkedin_url}}


<!-- GITHUB TEMPLATES FOR CONSIDERATION

-->
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#configuring-the-template-chooser
Hydra/facebook has some issues template


<!-- SHIELDS FOR CONSIDERATION

-->





<!-- SHIELDS FOR CONSIDERATION
# flake8-annotations
[![PyPI - Python Version](https://img.shields.io/pypi/pyversions/flake8-annotations/3.0.1?logo=python&logoColor=FFD43B)](https://pypi.org/project/flake8-annotations/)
[![PyPI](https://img.shields.io/pypi/v/flake8-annotations?logo=Python&logoColor=FFD43B)](https://pypi.org/project/flake8-annotations/)
[![PyPI - License](https://img.shields.io/pypi/l/flake8-annotations?color=magenta)](https://github.com/sco1/flake8-annotations/blob/main/LICENSE)
[![pre-commit.ci status](https://results.pre-commit.ci/badge/github/sco1/flake8-annotations/main.svg)](https://results.pre-commit.ci/latest/github/sco1/flake8-annotations/main)
[![Open in Visual Studio Code](https://img.shields.io/badge/Open%20in-VSCode.dev-blue)](https://github.dev/sco1/flake8-annotations)
-->

    <a href="https://github.com/ejoosterop/quke"><strong>Explore the docs »</strong></a>
    <br />
    <br />
    <!--
    <a href="https://github.com/ejoosterop/quke">View Demo</a>
    · -->
    <a href="https://github.com/ejoosterop/quke/issues">Report Bug</a>
    ·
    <a href="https://github.com/ejoosterop/quke/issues">Request Feature</a>


[openai.com]: https://img.shields.io/badge/openai-412991?style=for-the-badge&logo=openai&logoColor=white
[huggingface.com]: https://img.shields.io/badge/huggingface-yellow?style=for-the-badge&logo=huggingface&logoColor=white
[cohere.com]: https://img.shields.io/badge/Cohere-013220?style=for-the-badge&logo=cohere&logoColor=white
[replicate.com]: https://img.shields.io/badge/replicate-black?style=for-the-badge&logo=replicate&logoColor=white