"""Entry point for {{package_name}} package command line interface.

{{project_description}}
"""


def main():
    """_summary_."""
    print("Hello world from {{package_name}}.") # noqa T201

    return -1


if __name__ == "__main__":
    main()
