"""Entry point for {{package_name}} package command line interface.

{{project_description}}
"""

from {{package_name}}.myclass import MyClass


def main():
    """_summary_."""
    x = MyClass()
    print(x.start())  # noqa T201

    return -1


if __name__ == "__main__":
    main()
