"""Module for example class for package {{package_name}}.

{{project_description}}
"""


class MyClass:
    """Prints a welcome message.
    """
    def __init__(self) -> None:
        pass

    def start(self) -> str:
        return "Hello world from {{package_name}}"
